{{ partial "header" . }}

{{ range sort .Paginator.Pages }}
<article>
	<p class="Meta">
		<time>{{ .Date.Format " 2. January 2006" }}</time>
	</p>
	<h2 class="Title">
		<a href="{{ .Permalink }}">
			{{ .Title }}
		</a>
		{{ if .Draft }} ::Draft{{ end }}
	</h2>

	{{ .Content }}

		{{/* 
			{{ $images := findRE `<img\s+[^>]*src="([^"]*)"[^>]*>` .Content }}
			{{ $image := (index $images 0) }}
			{{ with $image }}
			<figure class="Thumbnail">
				{{ $image | safeHTML }} 
			</figure>
			{{ end }}
				{{ .Summary | .RenderString }}
			{{ if .Truncated } <a href="{{ .RelPermalink }}">Read more…</a> {{ end }}
		*/}}
</article>
{{ end }}

{{ partial "footer" . }}
