{{ partial "header" . }}

<main class="PostList">
{{ partial "last-updated.html" (dict "pages" .Site.RegularPages) }}
{{ range .Paginator.Pages }}
<article class="PostCard">
	<p class="Meta">
		<time datetime="{{ .Date }}">{{ .Date.Format " 2. January 2006" }}</time>
	</p>
	<h2 class="Title">
		<a href="{{ .Permalink }}">
			{{ .Title }}
		</a>
		{{ if .Draft }} ::Draft{{ end }}
	</h2>
	{{ if .Params.categories }}
	<p class="PostCategories">
		{{ partial "terms.html" (dict "page" . "taxonomy" "categories") }}
	</p>
	{{ end }}
	<div class="PostSummaryWrap">
		{{ $images := findRE `<img\s+[^>]*src="([^"]*)"[^>]*>` .Content 1 }}
		{{ with $images }}
		{{ with index . 0 }}
		<figure class="PostThumb">
			{{ . | safeHTML }}
		</figure>
		{{ end }}
		{{ end }}
		<div class="PostSummary">{{ .Summary }}</div>
	</div>
</article>
{{ end }}
</main>

{{ partial "footer" . }}
