{{ partial "header" . }}

<main class="PostList">
{{ range .Paginator.Pages }}
<article class="PostCard">
	<h2 class="Title">
		<a href="{{ .Permalink }}">
			{{ .Title }}
		</a>
		{{ if .Draft }} ::Draft{{ end }}
	</h2>
	<p class="Meta">
		<time datetime="{{ .Date }}">{{ .Date.Format " 2. January 2006" }}</time>
	{{ if .Params.categories }}
	<span>{{ partial "terms.html" (dict "page" . "taxonomy" "categories") }}</span>
	{{ end }}
	</p>


	<div class="PostSummaryWrap">
		{{ $images := findRE `<img\s+[^>]*src="([^"]*)"[^>]*>` .Content 1 }}
		{{ with $images }}
		{{ with index . 0 }}
		<figure class="PostThumb">
			{{ . | safeHTML }}
		</figure>
		{{ end }}
		{{ end }}
		<div class="PostSummary">{{ replaceRE "<img[^>]*>" "" .Summary | safeHTML }}</div>
		{{ if .Truncated }}<a class="ReadMore" href="{{ .Permalink }}">Read more →</a>{{ end }}
	</div>
</article>
{{ end }}
</main>

{{ partial "footer" . }}
